@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 10px;
}
.container {
  padding: 10px;
  border: 2px solid black;
  background-color: whitesmoke;
  position: relative;
}
header{
    margin-bottom: 10px;
}
ul{
    display: flex;
    gap: 10px;
}
h1 {
  color: teal;
}

li {
  list-style: none;
  color: rgb(106, 38, 155);
}
dt {
  font-weight: bold;
  color: rgb(0, 83, 83);
  text-decoration: underline;
}
img {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  border: 2px solid black;
}
