.container {
  width: 500px;
  height: 500px;
  background-color: whitesmoke;
  border: 2px solid black;
  position: relative;
}
.ball {
  width: 150px;
  height: 150px;
  background-color: maroon;
  border-radius: 50%;
  /* Animation */
  animation-name: jump;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes jump {
  0% {
    transform: translateY(0px);
  }
  25%{
    transform: scaleX(50%);
  }
  50% {
    transform: translateY(350px);
  }
  75%{
    transform: scaleY(50%);
  }
  100% {
    transform: translateY(0px);
  }
}
