* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
  display: grid;
  gap: 10px;
  grid-template-areas:
    "header header login"
    "sidebar main main"
    "footer footer footer";
}
.box {
  background-color: cadetblue;
  color: aliceblue;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  grid-area: header;
}
.login {
  grid-area: login;
}
.sidebar {
  grid-area: sidebar;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}
